# raw dataset files
1976_Sep2016_USPTOgrants_smiles*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# my own ignore files
tmpignore
