# raw dataset files
1976_Sep2016_USPTOgrants_smiles*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# my own ignore files
tmpignore

# sbatch files
sbatch
sbatch*

# too big dataset files
negative_random_comprehensive.csv